@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;
    font-size: 1.2rem;
    background: rgb(212, 140, 67);
    background: linear-gradient(90deg, rgba(212, 140, 67, 1) 23%, rgba(212, 36, 56, 1) 59%, rgba(203, 31, 70, 1) 66%, rgba(168, 12, 125, 1) 88%);

    height: 100vh;
    width: 100vw;
}

div.espacio {
    height: 60vh;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

div.apartados {
    text-align: left;
    display: block;
    width: 28%;
    height: 4rem;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: -10px 20px 15px 0px rgba(0, 0, 0, 0.75);
    border-radius: 60px 3px 60px 3px;
    background-color: rgb(86, 168, 75);

}



div.apartados div.flecha::after {
    font-family: 'FontAwesome';
    content: "\f078";
}

div.apartados input.checkbox {

    z-index: 2;
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    opacity: 0;

}




footer div.apartados span {
    position: relative;
    top: 1.4rem;
    margin-left: 3rem;

}

.apartados input.checkbox {

    float: right;
    position: relative;
    width: 22px;
    top: 21px;
    right: 35px;
    margin-left: -23px;
}

.apartados div.flecha {
    float: right;
    position: relative;
    width: 20px;
    top: 20px;
    right: 35px;
}

div.contenidoapartado {
    background-color: rgb(86, 168, 75);
    margin-left: 3rem;
    overflow: hidden;
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 3rem;
    box-shadow: -10px 20px 15px 0px rgba(0, 0, 0, 0.75);
    border-radius: 2px 2px 20px 20px / 6px 2px 20px 20px;
}

div.contenidoapartado {
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

div.contenidoapartado ul {
    margin-left: 1rem;
    overflow: hidden;
    margin-bottom: 0.4rem;


}

.apartados input[type="checkbox"]:checked~div.flecha::after {
    content: "\f054";
    position: absolute;
}

.apartados input[type="checkbox"]:checked~div.contenidoapartado {
    max-height: 500px;
    transition: max-height 0.3s ease-in;
}


@media screen and (max-device-width:690px) {
    footer {
        display: flex;
        flex-direction: column;
    }
}